<li>
    <a href="@Url.Action("ViewCart","Cart")" class="title"><i class="fa fa-shopping-cart"></i>   <sup class="cart-quantity">@ViewBag.TotalQuantity</sup> $@ViewBag.TotalPayment.ToString("#,##")</a> 
</li>
